<!DOCTYPE html>
<html>
<head>
  <title>Maptest</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBahxJ2y-HTDaZJB4sv5qMIKYfwbw9vu94">
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
